{% extends 'base.html' %}

{% block content %}

{% for book in all_books %}
    <div class="talk">
        <div class = "content">
            {#<a href ="/tasks/{{task.id}}">{{task.description}}</a>#}
            {{book.author.first_name}}
            <div class ="title">
                {{book.title}}
                <div class="genre">
                    {{book.genre}}
                </div>
                {#<div class = "buttons">
                <form class = "delete-form" action="/tasks/{{task.id}}/delete" method = "POST">
                    <button class = "trash-button">
                    <i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i>
                    </button>
                </form> -->
                </div>#}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}